.sidebar{
  font-weight: 600;
  position:relative;
    margin: 10px;
    height: 600px;
    width: 280px;
    /* background-color: rgb(6, 20, 20); */
    /* background-image: linear-gradient(rgb(48, 40, 40),rgb(246, 246, 247)); */
    /* background: linear-gradient(195deg, rgb(247, 247, 247),rgb(243, 241, 240)); */
    background: hsl(20, 31%, 95%) ;
    border-radius: 20px;
    margin-bottom: 145px;
    /* border-color: black; */
    border:2.5px solid hsl(19, 15%, 66%);
    /* position:fixed; */
    /* margin-top:20px; */
}
.support{
  margin: 151px;
}

.upperhk{
  font-size:400%;
  margin-bottom:0;
}
.hk{
  display:flex;
}

.nhk{
  font-size:250%;
}

.imagehk{
  width:400px;
  height:400px;
  margin-top:30px;
  border-radius:500px;
  /* border: 15px solid skyblue; */
}

.divhk{
  padding-top:100px;
  padding-left:100px;
  justify-content:first baseline;
  text-align: left;
  float:left;
  margin-left:100px;
}

.iconhk{
  margin-right:40px;
}

.uphk{
  margin-top:10px;
  margin-bottom:0;
  font-size:140%;
}


.blockfld{
  padding:10px 15px 5px 15px;
  border-radius: 10px;
  border-color: skyblue;

}
.divid{
  display: flex;
  justify-content: space-evenly;
}

.bhk{
  display: flex;
  margin-left: 10px;
  margin-top: 2px;
  font-weight: 600;
  color: #7d879a;

}

.hk{
  margin-left: 20px;
  padding:5px 5px 5px 5px;
  font-weight: 600;
  color: #7d879a;

}
.blkdiv{
  margin-left: 10px;
  margin-top:  10px;
  font-weight: 600;
  color: #7d879a;
}

.blkfld{
  margin-left: 10px;
  margin-top:  0px;
  

}
.users{
  margin-top: 56px;
  width: 300px;
}
.sidebar-list{
    height: 50%;
    width: 91%;
    margin-left: 6px;
    align-items: flex-start;
    padding: 0;
}
.sidebar-list .row{
    width: 100%;
    height: 70px;
    list-style-type: none ;
    margin: 0;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .row #title{
      flex: 70%;
      /* font-size: 10px; */
  }
  .sidebar-list .row:hover{
    /* background-color: rgb(210, 204, 204); */
    background-color: hsl(20, 31%, 84%);
    cursor: pointer;
    font-size: 20px;
  border-radius: 15px;
  }
 
.sidebar #active{
  /* margin: 5px; */
  border-radius: 15px;
    /* background-color: rgb(24, 37, 214); */
    /* background: #bfbcbc; */
    background:  hsl(20, 31%, 74%);
}
.row{
  color: white;;
  width: 100%;
}

.row #icon{
    flex: 30%;
    display: grid;
    place-items: center;
}

.orders{
  text-align: center;
  /* margin-left: 355px; */
  margin-top: 24px;
width: 70%;
height: 450px;
/* display: flex; */
/* column-count: 1; */
}
.btn{
  background: #e7e0df;
  height: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  /* margin-left: 3px; */
color: black;

}
.user-list-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.order-content {
  display: grid;
  grid-template-columns: 316px 1fr 1fr 1fr auto;
  justify-items: center;
  column-gap: 1rem;
  
}
.content h5 {
  color: #211b1b;
  font-weight: 400;
}
.content span {
  width: 2rem;
  height: 2rem;
}
.content hr {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.subtotal {
  display: none;
}
.price {
  display: none;
}

.user-list {
  list-style-type: none;
  
  padding: 0;
}
.user-image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-item {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.block-button {
  margin-left: 10px;
  background-color: #f00;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}


#pro{
  padding: 20px;
  text-align: center;
  color: #7d879a;
  border-radius: 10px;
  background: linear-gradient(195deg,#acaaaa, #bfbcbc);
  color: white;
  margin-top: 25px;
}

.boxer {
  position: absolute;
  bottom: 0;
  padding: 16px;
    color: #c6d5ee;
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}

.top-heading{
  color: black;
  margin-left:16px;
  padding-top:11px;
  font-size:27px;
}
.imghk{
  width:150px;
  height:50px;
  border-radius: 100%;
}
.hr {
  margin: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-width: 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.08);
  border-bottom-width: thin;
  background-color: transparent;
  background-image: linear-gradient(to right, rgba(52, 71, 103, 0), rgba(52, 71, 103, 0.4), rgba(52, 71, 103, 0))!important;
  height: 0.260rem;
  margin: 2rem 0;
  border-bottom: none;
  opacity: 0.80;
  background-color: transparent;
}

.image{
  margin: 0;
  display: flex;
  flex-direction: row;
    place-items: center;
  justify-content: center;
    align-items: center;
    padding: 30px;
}
.profile{
  margin: 200px;
}
.imghk{
  width:70px;
  height: 80px;
}
.image .img{
  color: white;
  height: 30px;
  width: 30px;
  flex: 30%;
  display: grid;
  place-items: center;
}

.image .top-heading{
  font-size: 25px;
  font-weight: 1200;
  padding-top: 11px;
  flex: 70%;
}
.product-list-container {
  width: 100%;
}

.product-list {
  width: 100%;
  border-collapse: collapse;
}

.product-list th,
.product-list td {
  border:none;
  padding: 8px;
  text-align: left;
}
select {
  width: 100%;
  padding: 6px;
  border: none;
  background-color: #f9f9f9;
  cursor: pointer;
}

.product-list th {
  background-color: #f39875;
}

.product-list tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.product-list tbody tr:hover {
  background-color: #ebebeb;
}

.product-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

