# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - localshopper

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to registry
      uses: docker/login-action@v1
      with:
        registry: https://shopperlocal.azurecr.io/
        username: ${{ secrets.AzureAppService_ContainerUsername_0226637815844082b3460855c03192cb }}
        password: ${{ secrets.AzureAppService_ContainerPassword_c75cb3a7a8454645b9518df5a9ddc2e0 }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: shopperlocal.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_0226637815844082b3460855c03192cb }}/shopper-local:${{ github.sha }}
        file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'localshopper'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_e26850233c16463cb05b6af7c3cb2d65 }}
        images: 'shopperlocal.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_0226637815844082b3460855c03192cb }}/shopper-local:${{ github.sha }}'